*,*::before,*::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

 .wrapper{
    width: 100vw;
    height:100vh;
    background-image:linear-gradient(skyblue,white,skyblue);
 }

  h1{
   text-align: center;
   padding:20px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .tab-container{
    width:90%;
    max-width: 550px;
    margin:0 auto;  /*top bottom-0 left right-auto    */
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
  }

  .tab{
    cursor: pointer;
    font-size: 1.15rem;
    letter-spacing: 1.75px;
    padding:5px 8px;
  }

  .tab.current-tab{
    background-color:rgba(128, 128, 128, 0.927);
    border-radius: 5px;
}
 
.weather-container{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 4rem; */
  margin-block:4rem;
}

.btn{
  all:unset;
  font-size: 0.95rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 5px;
  background-color:rgb(120, 244, 120);
  box-shadow: 3px 3px 5px ;
  cursor:pointer;
  padding:10px 30px;
  margin-bottom: 10px;
  /* it affects search icon of search tab */
}
.btn:hover{
  background-color: rgb(66, 239, 66);
  transition: all ease-in 0.2s;
}

  .sub-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

   /* hide  */
   .grant-location-container{
    display:none;
   }
  /* visible */
   .grant-location-container.active{
    display: flex;
   }
  
   .grant-location-container img{
    /* margin-top: 3rem; */
    margin-bottom: 2rem;
   }

   .grant-location-container p:first-of-type{
    font-size: 1.75rem;
    font-weight: 600;
   }
   
   .grant-location-container p:last-of-type{
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
    letter-spacing:1px;
   }


 .loading-container{
  display:none;
 }

 .loading-container.active{
  display:flex;
 }
 
 .loading-container p{
  text-transform: uppercase;
  /* applied sub-container property */
 }


 .user-info-container{
  display: none;
 }

 .user-info-container.active{
 display: flex;

 }

 .name{
  display: flex;
  align-items: center;
  gap:0 0.5rem;
  margin-bottom: 1rem;
 }

 .user-info-container p{
  font-size: 1.5rem;
  font-weight: 200;
}

 .name p{
  font-size: 2rem;
 }

 .name img{
  width:40px;
  height:35px;
  object-fit: contain;
  /* so tha it is not affected by other image property inside user-info-con.. */
}

.user-info-container p[data-temp]{
  font-size: 2.75rem;
  font-weight: 700;
}

.parameter-container{
  width:90%; 
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px 20px;
  margin-top: 2rem;
}

.parameter{
  width: 30%;
  max-width: 200px;
  background-color: rgba(128, 128, 128, 0.733);
  border-radius: 5px;
  padding:1rem;
  display: flex;
  flex-direction: column;
  gap:5px 0;
  color:white;
  align-items:center;
  color:black;

}

.parameter img{
  height: 50px;
  width: 50px;
}

.parameter p:first-of-type{
  font-size: 1.15rem;
  font-weight: 600;
  text-transform: uppercase;
}
.parameter p:last-of-type{
  font-size: 1.3rem;
  font-weight: 200;
}


.form-container{
  display: none;
  /* display: flex; */
  width: 90%;
  max-width: 550px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap:0 10px;
  margin-bottom: 3rem;
}

.form-container.active{
  display: flex;
}

.form-container input{
  all:unset;
  width:calc(100% - 80px);
  height: 40px;
  padding:0 20px;
  background-color: rgba(128, 128, 128, 0.288);
  border-radius: 10px;
}
 .form-container input::placeholder{
  color:black;
 }

 .form-container input:focus{
  outline:3px solid rgba(0, 0, 0, 0.463);
 }

 .form-container .btn{
  padding:unset;
  width:40px;
  height:40px;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius:100px;
  background-color: rgba(128, 128, 128, 0.288);
  margin-bottom: 1px;
} 

